<div class="">
    <div class="">
        <div class="table-condensed">
            <table class="table table-condensed text-center">
                <thead>
                    <tr>
                        <th>TruckID</th>
                        <th>Barcode</th>
                        <th>Item Name</th>
                        <th>Status</th>
                        <th>Category</th>
                        <th>Credit</th>
                        <th>Location</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in $ctrl.items">
                        <td>{{item.truckID}}</td>
                        <td>{{item.barcode}}</td>
                        <td>{{item.itemName}}</td>
                        <td>{{item.status}}</td>
                        <td>{{item.category}}</td>
                        <td>{{item.credit}}</td>
                        <td>{{item.location}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="" style="text-align:center;margin-bottom: 1cm;">
            <input class="btn btn-lg btn-primary cancel" ng-click="$ctrl.cancel()" value="Cancel" type="button">
        </div>
    </div>
</div>
