<div class="timeslotComponent">
    <div class="container">
        <br>
        <div class="row">
            <div class="col-sm-2">
                <a href="" ng-click="$ctrl.viewReceivedItems()" class="btn btn-sm btn-success">View Received Items</a>
            </div>
            <div class="col-sm-2">
                <a href="" ng-click="$ctrl.viewStoredItems()" class="btn btn-sm btn-success">View Stored Items</a>
            </div>
           <!--  <div class="col-sm-3">
                <datepicker date-format="MM.dd.yyyy" selector="form-control">
                     <div class="input-group">
                        <input ng-model="$ctrl.date"  class="form-control" placeholder="Choose a date"/>
                        <span class="input-group-addon" ng-click="$ctrl.selectedDate($ctrl.date)" style="cursor: pointer">Go
                        </span>
                     </div>
                  </datepicker>
            </div> -->

            
        </div>
        
        
        
        <br>
        <br>
        <table class="table table-condensed text-center">
            <thead>
                <tr>
                    <th style="font-size: 15px;">Truck ID</th>
                    <th style="font-size: 15px;">Truck Status</th>
                    <th style="font-size: 15px;">Number of Items</th>
                    <th style="font-size: 15px;">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pdt in $ctrl.products" ng-click="$ctrl.selectRow($index)" ng-class="{'highlight': $index == $ctrl.selectedRow}">
                    <td>{{pdt.truckID}}</td>
                    <td>{{pdt.status}}</td>
                    <td>{{pdt.noOfItems}}</td>
                    <td><a ng-click="$ctrl.showallSavedItems(pdt.truckID)" class="btn btn-primary btn-sm">View Items</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
