<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Sub Item Details</h2>
    </div>
    <div class="panel-body">
        <div ng-show="!$ctrl.item.subItems">
            <div class="userRequestinProgressModal">
                <div class="table-responsive text-center">
                    <div>
                        <div class="profileComponent">
                            <div class="container">
                                <div class="profileBg">
                                    <div>
                                        <!-- <h3>Image</h3> -->
                                        <!-- <h3 style="clear: both;">Item Info</h3> -->
                                        <form>
                                            <table class="table-responsive">
                                                <tbody>
                                                    <tr>
                                                        <td class="gap" for="SubItemCode">Sub Item Code</td>
                                                        <td class="gap2 gap3">
                                                            <input type="text" name="SubItemCode" class="form-controls" ng-model="$ctrl.subItem.itemCode">
                                                        </td>
                                                        <td class="gap gap4" for="Sub Item Name">Sub Item Name</td>
                                                        <td class="gap2">
                                                            <input type="text" class="form-controls" ng-model="$ctrl.subItem.itemName">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="gap" for="description">Sub Item Description</td>
                                                        <td class="gap2 gap3">
                                                            <input type="text" class="form-controls" ng-model="$ctrl.subItem.description">
                                                        </td>
                                                    </tr>
                                                    <!-- <tr ng-if="!$ctrl.isSubItem">
                                            <td>
                                                <button type="button" ng-click="$ctrl.addSubItem()" class="btn btn-sm btn-success">Add Sub Item</button>
                                            </td>
                                        </tr> -->
                                                </tbody>
                                            </table>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row" ng-repeat="item in $ctrl.subItems" >
            <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-3">
                    <div uib-carousel active="active" interval="5000">
                        <div uib-slide ng-repeat="slide in $ctrl.imageURLs" index="$index" ng-class="{active : $first}">
                            <img ng-src="{{slide}}" style="margin:auto;height: 160px;width:150px;">
                            <div class="carousel-caption">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="row"></div>
                    <div class="row">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-11">
                            <div class="card">
                                <div>
                                    <div class="card-block">
                                        <h5><a>Item Code:&nbsp;{{item.itemCode}}</a></h5>
                                        <h5><a>Item Name:&nbsp;{{item.itemName}}</a></h5>
                                        <h5><a>Item Status:&nbsp;{{item.status}}</a></h5>
                                        <h5><a>Description:&nbsp;{{item.description}}</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div> -->
        <div ng-show="$ctrl.item.subItems">
            <table class="table table-hover">
                <tr>
                    <th style="font-size: 13px;" class="col-md-1">Item Code</th>
                    <th style="font-size: 13px;" class="col-md-1">Item Name</th>
                    <th style="font-size: 13px;" class="col-md-1">Description</th>
                </tr>
                <tr ng-repeat="item in $ctrl.subItems">
                    <td class="text-center">{{item.itemCode}}</td>
                    <td class="text-center">{{item.itemName}}</td>
                    <td class="text-center">{{item.description}}</td>
                </tr>
            </table>
        </div>
        <div>
        </div>
    </div>
</div>
<div style="text-align:center;margin-bottom: 1cm;">
    <button type="button" ng-click="$ctrl.cancel()" class="btn btn-lg btn-default">Cancel</button>
    <button type="button" ng-show="!$ctrl.item.subItems" ng-click="$ctrl.save()" class="btn btn-lg btn-success">Save</button>
</div>
