<!-- / profileComponent \ -->
<div class="profileComponent">
    <div class="container">
        <div class="profileBg">
            <div class="loading" ng-show="$ctrl.loader">
                Loading&#8230;
            </div>
            <br>
            <h2>Driver Profile</h2>
            <div class="inner-adjust">
                <h3>Image</h3>
                <div class="image">
                    <a href="" class="drive">Add License Image</a>
                </div>
                <h3>General Info</h3>
                <div class='detail-container'>
                                <div>
                                    <div class='col-sm-12 col-lg-6'>
                                        <div class="form-group">
                                            <label for="firstName">First Name*</label>
                                            <input ng-disabled={{$ctrl.isDisabled}} type="text" name="firstName" class="form-controls" ng-model="$ctrl.driver.firstName">
                                        </div>
                                        <div class="form-group">
                                            <label for="lastName">Last Name*</label>
                                            <input ng-disabled={{$ctrl.isDisabled}} type="text" class="form-controls" ng-model="$ctrl.driver.lastName">
                                        </div>
                                        <div class="form-group">
                                            <label>Driver License ID*</label>
                                            <input ng-disabled={{$ctrl.isDisabled}} type="text" class="form-controls" ng-model="$ctrl.driver.licenseId">
                                        </div>
                                        <div class="form-group">
                                            <label>Street Address*</label>
                                            <input ng-disabled={{$ctrl.isDisabled}} type="text" class="form-controls" ng-model="$ctrl.driver.streetAddress">
                                        </div>
                                        <div class="form-group">
                                            <label>Apt*</label>
                                            <input ng-disabled={{$ctrl.isDisabled}} type="text" class="form-controls" ng-model="$ctrl.driver.apartment">
                                        </div>
                                    </div>
                                    <div class='col-sm-12 col-lg-6'>
                                        <div class="form-group">
                                            <label>City*</label>
                                             <input ng-disabled={{$ctrl.isDisabled}} type="text" class="form-controls" ng-model="$ctrl.driver.city">
                                        </div>
                                        <div class="form-group">
                                            <label for="Credit">State*</label>
                                            <input ng-disabled={{$ctrl.isDisabled}} type="text" class="form-controls" ng-model="$ctrl.driver.state">
                                        </div>
                                    </div>
                                    <div class='col-sm-12 col-lg-6'>
                                        <div class="form-group">
                                            <label>Zip*</label>
                                             <input ng-disabled={{$ctrl.isDisabled}} type="text" class="form-controls" ng-model="$ctrl.driver.zipCode">
                                        </div>
                                        <div class="form-group">
                                            <label for="Credit">Phone Number*</label>
                                            <input ng-disabled={{$ctrl.isDisabled}} type="text" class="form-controls" ng-model="$ctrl.driver.phoneNumber">
                                        </div>
                                    </div>
                                    <div class='col-sm-12 col-lg-6'>
                                        <div class="form-group">
                                            <label>Emergency Phone Number</label>
                                            <input ng-disabled={{$ctrl.isDisabled}} type="text" class="form-controls" ng-model="$ctrl.driver.emergencyPhoneNumber">
                                        </div>
                                        <div class="form-group">
                                            <label for="Credit">Email ID*</label>
                                            <input ng-disabled={{$ctrl.isDisabled}} type="text" class="form-controls" ng-model="$ctrl.driver.emailAddress">
                                        </div>
                                    </div>
                                </div>
                            </div>
                <!-- <form action="#" method="post">
                    <table class="table-responsive">
                        <tbody>
                            <tr>
                                <td class="gap" for="firstName">First Name*</td>
                                <td class="gap2 gap3">
                                    <input ng-disabled={{$ctrl.isDisabled}} type="text" name="firstName" class="form-controls" ng-model="$ctrl.driver.firstName">
                                </td>
                                <td class="gap gap4" for="lastName">Last Name*</td>
                                <td class="gap2">
                                    <input ng-disabled={{$ctrl.isDisabled}} type="text" class="form-controls" ng-model="$ctrl.driver.lastName">
                                </td>
                            </tr>
                            <tr>
                                <td class="gap" for="licenceId">Driver License ID*</td>
                                <td class="gap2 gap3">
                                    <input ng-disabled={{$ctrl.isDisabled}} type="text" class="form-controls" ng-model="$ctrl.driver.licenseId">
                                </td>
                                <td class="gap gap4">Street Address*</td>
                                <td class="gap2">
                                    <input ng-disabled={{$ctrl.isDisabled}} type="text" class="form-controls" ng-model="$ctrl.driver.streetAddress">
                                </td>
                            </tr>
                            <tr>
                                <td class="gap">Apt</td>
                                <td class="gap2 gap3">
                                    <input ng-disabled={{$ctrl.isDisabled}} type="text" class="form-controls" ng-model="$ctrl.driver.apartment">
                                </td>
                                <td class="gap gap4">City</td>
                                <td class="gap2">
                                    <input ng-disabled={{$ctrl.isDisabled}} type="text" class="form-controls" ng-model="$ctrl.driver.city">
                                </td>
                            </tr>
                            <tr>
                                <td class="gap">State*</td>
                                <td class="gap2 gap3">
                                    <input ng-disabled={{$ctrl.isDisabled}} type="text" class="form-controls" ng-model="$ctrl.driver.state">
                                </td>
                                <td class="gap gap4">Zip*</td>
                                <td class="gap2">
                                    <input ng-disabled={{$ctrl.isDisabled}} type="text" class="form-controls" ng-model="$ctrl.driver.zipCode">
                                </td>
                            </tr>
                            <tr>
                                <td class="gap">Phone Number*</td>
                                <td class="gap2 gap3">
                                    <input ng-disabled={{$ctrl.isDisabled}} type="text" class="form-controls" ng-model="$ctrl.driver.phoneNumber">
                                </td>
                                <td class="gap gap4">Emergency Phone Number*</td>
                                <td class="gap2">
                                    <input ng-disabled={{$ctrl.isDisabled}} type="text" class="form-controls" ng-model="$ctrl.driver.emergencyPhoneNumber">
                                </td>
                            </tr>
                            <tr>
                                <td class="gap">Email*</td>
                                <td class="gap2 gap3">
                                    <input ng-disabled={{$ctrl.isDisabled}} type="text" class="form-controls" ng-model="$ctrl.driver.emailAddress">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-2">
                        </div>
                        <div class="btn-main">
                            <button type="button" ng-click="$ctrl.cancel()" class="btn btn-sm btn-default">Cancel</button>
                            <button type="button" ng-disabled={{$ctrl.isDisabled}} ng-click="$ctrl.save()" class="btn btn-sm btn-success">Save</button>
                        </div>
                    </div>
                </form> -->
                <div class="row">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-2">
                        </div>
                        <div class="btn-main">
                            <button type="button" ng-click="$ctrl.cancel()" class="btn btn-sm btn-default">Cancel</button>
                            <button type="button" ng-disabled={{$ctrl.isDisabled}} ng-click="$ctrl.save()" class="btn btn-sm btn-success">Save</button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<style>
    .detail-container {
        overflow: auto;
    }
</style>
<!-- \ profileComponent end / -->
