<div class="timeslotComponent">
    <div class="container">
        <br>
        <br>
        <br>
        <table class="table table-condensed text-center">
            <thead>
                <tr>
                    <th style="font-size: 15px;">Orders</th>
                    <th style="font-size: 15px;">Number of Items</th>
                    <th style="font-size: 15px;">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pdt in $ctrl.products" ng-click="$ctrl.selectRow($index)" ng-class="{'highlight': $index == $ctrl.selectedRow}">
                    <td>{{pdt.order}}</td>
                    <td>{{pdt.noOfItems}}</td>
                    <td><a ng-click="$ctrl.processItem()" class="btn btn-primary btn-sm">Process Items</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
