<div class="userComponent">
    <div class="container">
        <br>
        <input type="text" class="form-control pull-right" style="width: 200px;" ng-model="searchUser" placeholder="Search">
        <br>
        <br><br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-2">Customer ID</th>
                    <th class="col-md-1">Email ID</th>
                    <th class="col-md-1">Credit</th>
                    <th class="col-md-2">Membership Type</th>
                    <th class="col-md-2">Current Subscription</th>
                    <th class="col-md-4">Actions</th>
                </tr>
            </thead>
                <tr class="text-center" ng-repeat="user in $ctrl.listofUsers">
                    <td></td>
                    <td>{{user.emailAddress}}</td>
                    <td>{{user.credits}}</td>
                    <td></td>
                    <td>{{user.membership.name}}</td>
                    <td>
                        <a class="btn btn-primary btn-sm">Add/Update Subscription</a>
                        <a class="btn btn-success btn-sm" ng-click="$ctrl.save(user)">View Profile</a>
                    </td>
                </tr>
            <tbody>
           
            </tbody>
        </table>
    </div>
</div>