<div class="">
    <div class="">
        <div class="table-condensed">
            <table class="table table-condensed text-center">
                <thead>
                    <tr>
                        <th>Barcode</th>
                        <th>Item Name</th>
                        <th>Status</th>
                        <th>Category</th>
                        <th>Credit</th>
                        <th>Location</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="" style="text-align:center;margin-bottom: 1cm;">
            <input class="btn btn-lg btn-primary cancel" ng-click="$ctrl.cancel()" value="Cancel" type="button">
            <!-- <input class="btn btn-lg btn-primary cancel" ng-click="$ctrl.cancelshowall()" value="Move to Inventory" type="button"> -->
        </div>
    </div>
</div>
