<div class="timeslotComponent">
    <div class="container">
        <br>
        <a href="" ng-click="$ctrl.viewOutboundItems()" class="btn btn-sm btn-success">View Outbound Items</a>
        <br>
        <br>
        <input type="text" class="form-control pull-right"  ng-model="$ctrl.searchItem" placeholder="Search">
        <br>
        <br><br>
        <toast></toast>
        <table class="table text-center">
            <tr>
                <th class="col-md-1">Images</th>
                <th style="font-size: 13px;">Stored ItemID</th>
                <th style="font-size: 13px;">Storage ID</th>
                <th style="font-size: 13px;">Status</th>
                <th style="font-size: 13px;">Item Name</th>
                <th style="font-size: 13px;">Item Code</th>
                <th style="font-size: 13px;">CategoryID</th>
                <th style="font-size: 13px;">Location</th>
                <th style="font-size: 13px;">More Details</th>
                <th style="font-size: 13px;">Action</th>
            </tr>
            <tr ng-show="!$ctrl.message" ng-repeat="item in $ctrl.items | filter: $ctrl.searchItem" ng-click="$ctrl.selectRow($index)" ng-class="{'highlight': $index == $ctrl.selectedRow}">
                <td class="text-center">
                    <a href="" ng-click="$ctrl.openLightboxModal(item.imageURLs)">
                        <img ng-src="{{item.imageURLs[0]}}" class="img-thumbnail">
                    </a>
                </td>
                <td class="col-md-3">{{item.storedItemId}}</td>
                <td class="col-md-2">{{item.storageID}}</td>
                <td>{{item.status}}</td>
                <td class="col-md-1">{{item.itemName}}</td>
                <td class="col-md-1">{{item.itemCode[0]}}</td>
                <td class="col-md-1">{{item.categoryID}}</td>
                <td class="col-md-2">{{item.location}}</td>
                <td>
                    <button type="button" ng-click="$ctrl.moreDetails(item)" class="btn btn-sm btn-primary">View</button>
                </td>
                <td>
                    <button type="button" ng-click="$ctrl.proceed(item)" class="btn btn-sm btn-primary">Assign Truck</button>
                </td>
            </tr>
            <tr ng-show="$ctrl.message">
                <td class="col-md-1"></td>
                <td class="col-md-3"></td>
                <td class="col-md-1"></td>
                <td class="col-md-3" style="font-size: 15px;"><b>No Items to Display</b></td>
                <td class="col-md-1"></td>
                <td class="col-md-1"></td>
                <td class="col-md-1"></td>
                <td class="col-md-1"></td>
                <td class="col-md-1"></td>
            </tr>
        </table>
    </div>
</div>
