<div class="userRequestinProgressModal">
    <div class="table-responsive text-center">
        <div>
            <div class="profileComponent">
                <div class="container">
                    <div class="profileBg">
                        <div class="loading" ng-show="$ctrl.loader">
                            Loading&#8230;
                        </div>
                        <h2>Pickup Details</h2>
                        <table class="table table-hover">
                            <tr>
                                <th style="font-size: 13px;" class="col-md-1">Date</th>
                                <th style="font-size: 13px;" class="col-md-1">Time</th>
                                <th style="font-size: 13px;" class="col-md-1">Request Type</th>
                                <th style="font-size: 13px;" class="col-md-3 col-lg-2">User Name</th>
                                <th style="font-size: 13px;" class="col-md-1">Zip Code</th>
                                <!-- <th style="font-size: 13px;" class="col-md-3 col-lg-2">Assigned Driver</th> -->
                            </tr>
                            <tr>
                                <td>{{$ctrl.requestDetails.date}}</td>
                                <td>{{$ctrl.requestDetails.time}}</td>
                                <td>{{$ctrl.requestDetails.type}}</td>
                                <td>{{$ctrl.requestDetails.user.firstName}} {{$ctrl.requestDetails.user.lastName}}</td>
                                <td>{{$ctrl.requestDetails.user.address.zipCode}}</td>
                                <!-- <td>{{$ctrl.requestDetails.driver.firstName}} {{$ctrl.requestDetails.driver.lastName}}</td> -->
                            </tr>
                        </table>
                        <div ng-hide="$ctrl.viewItems" class="inner-adjust">
                            <!-- <h3>Image</h3> -->
                            <h3>Enter Item Information</h3>
                            <div class="image" style="float: left;">
                                <a href="" class="drive">Add Item Image</a>
                                <input ng-model="$ctrl.file1" type="file" name="item" base-sixty-four-input>
                            </div>
                            <div class="image" style="float: left;">
                                <a href="" class="drive">Add Bin Image</a>
                                <input ng-model="$ctrl.file2" type="file" name="bin" base-sixty-four-input>
                            </div>
                            <div class="image" style="float: left;">
                                <a href="" class="drive">Add Customer Signature Image</a>
                                <input ng-model="$ctrl.file3" type="file" name="sign" base-sixty-four-input>
                            </div>
                            <!-- <h3 style="clear: both;">Item Info</h3> -->
                            <form>
                                <table class="table-responsive">
                                    <tbody>
                                        <tr>
                                            <td class="gap" for="productName">Product Name</td>
                                            <td class="gap2 gap3">
                                                <input type="text" name="productName" class="form-controls" ng-model="$ctrl.pickup.productName">
                                            </td>
                                            <td class="gap gap4" for="brandName">Brand Name</td>
                                            <td class="gap2">
                                                <input type="text" class="form-controls" ng-model="$ctrl.pickup.brandName">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="gap" for="condition">Condition</td>
                                            <td class="gap2 gap3">
                                                <input type="text" class="form-controls" ng-model="$ctrl.pickup.condition">
                                            </td>
                                            <td class="gap gap3">Eventual Damages</td>
                                            <td class="gap2">
                                                <input type="text" class="form-controls" ng-model="$ctrl.pickup.eventualDamages">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="gap">Sharable</td>
                                            <td class="gap2 gap3" style="display: inline-flex; height: 40px; line-height: 20px; padding: 12px; width: 100%;">
                                                <input type="radio" value="Yes" class="form-controls" ng-model="$ctrl.pickup.sharable" style="width: 40px"> Yes
                                                <input type="radio" value="No" class="form-controls" style="width: 40px" ng-model="$ctrl.pickup.sharable"> No
                                            </td>
                                            <td class="gap">Item Code</td>
                                            <td class="gap2 gap3">
                                                <input type="text" class="form-controls" ng-model="$ctrl.pickup.itemCode">
                                            </td>
                                        </tr>
                                        <!-- <tr ng-if="!$ctrl.isSubItem">
                                            <td>
                                                <button type="button" ng-click="$ctrl.addSubItem()" class="btn btn-sm btn-success">Add Sub Item</button>
                                            </td>
                                        </tr> -->
                                        <tr ng-if="$ctrl.isSubItem">
                                            <td class="gap">Sub Item Code</td>
                                            <td class="gap2 gap3">
                                                <input type="text" class="form-controls" ng-model="$ctrl.subItemCode">
                                            </td>
                                            <td class="gap">Sub Item Name</td>
                                            <td class="gap2 gap3">
                                                <input type="text" class="form-controls" ng-model="$ctrl.subItemName">
                                            </td>
                                        </tr>
                                        <tr ng-if="$ctrl.isSubItem">
                                            <td class="gap">Sub Item Description</td>
                                            <td class="gap2 gap3">
                                                <input type="text" class="form-controls" ng-model="$ctrl.description">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table><br>
                                <table class="table table-hover" ng-show="$ctrl.subItemArr.length">
                                    <tr>
                                        <th style="font-size: 13px;" class="col-md-1">Item Code</th>
                                        <th style="font-size: 13px;" class="col-md-1">Item Name</th>
                                        <th style="font-size: 13px;" class="col-md-1">Description</th>
                                    </tr>
                                    <tr ng-repeat="item in $ctrl.subItemArr">
                                        <td class="text-center">{{item.itemCode}}</td>
                                        <td class="text-center">{{item.itemName}}</td>
                                        <td class="text-center">{{item.description}}</td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                        <div class="inner-adjust">
                            <table ng-show="$ctrl.showtable" class="table table-hover">
                                <tr>
                                    <th style="font-size: 13px;" class="col-md-1">Product Name</th>
                                    <th style="font-size: 13px;" class="col-md-1">Brand Name</th>
                                    <th style="font-size: 13px;" class="col-md-1">Condition</th>
                                    <th style="font-size: 13px;" class="col-md-3 col-lg-2">Eventual Damages</th>
                                    <th style="font-size: 13px;" class="col-md-1">Sharable</th>
                                    <th style="font-size: 13px;" class="col-md-3 col-lg-2">AssignedItem Code</th>
                                    <th style="font-size: 13px;" class="col-md-3 col-lg-2">Sub Item</th>
                                </tr>
                                <tr ng-repeat="item in $ctrl.pickedupItems">
                                    <td>{{item.productName}}</td>
                                    <td>{{item.brandName}}</td>
                                    <td>{{item.condition}}</td>
                                    <td>{{item.eventualDamages}}</td>
                                    <td>{{item.sharable}}</td>
                                    <td>{{item.itemCode}}</td>
                                    <td>
                                    <button type="button" ng-if="item.subItems" ng-click="$ctrl.opensubItemModal(item)" class="btn btn-sm btn-primary">View</button>
                                </td>
                                </tr>
                            </table>
                        </div>
                        <div class="row">
                            <div class="btn-main">
                                <button type="button" ng-click="$ctrl.cancel()" class="btn btn-sm btn-default">Cancel</button>
                                <!-- <button style="padding: 8px 0px;" ng-if="!$ctrl.isSubItem" type="button" ng-click="$ctrl.addSubItem()" class="btn btn-sm btn-success">Add Sub Item</button> -->
                                <button ng-hide="$ctrl.viewItems" type="button" ng-click="$ctrl.save()" class="btn btn-sm btn-success">Save</button>
                                <button ng-show="$ctrl.viewItems" type="button" ng-click="$ctrl.addItem()" style="padding: 8px 20px" class="btn btn-sm btn-success">Add Item</button>
                                <button ng-hide="$ctrl.viewItems" type="button" ng-click="$ctrl.subItems()" style="padding: 8px" class="btn btn-sm btn-success">Add SubItem</button>
                                <button ng-click="$ctrl.done()" ng-show="$ctrl.showtable" class="btn btn-sm btn-success">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
