<div class="userRequestinProgressModal">
    <div class="table-responsive text-center">
        <div>
            <div class="profileComponent">
                <div class="container">
                    <div class="profileBg">
                        <div class="loading" ng-show="$ctrl.loader">
                            Loading&#8230;
                        </div>
                        <h2>Pickup Details</h2>
                        <table class="table table-hover">
                            <tr>
                                <th style="font-size: 13px;" class="col-md-1">Date</th>
                                <th style="font-size: 13px;" class="col-md-1">Time</th>
                                <th style="font-size: 13px;" class="col-md-1">Request Type</th>
                                <th style="font-size: 13px;" class="col-md-3 col-lg-2">User Name</th>
                                <th style="font-size: 13px;" class="col-md-1">Zip Code</th>
                                <th style="font-size: 13px;" class="col-md-3 col-lg-2">Assigned Driver</th>
                            </tr>
                            <tr>
                                <td>{{$ctrl.requestDetails.date}}</td>
                                <td>{{$ctrl.requestDetails.time}}</td>
                                <td>{{$ctrl.requestDetails.type}}</td>
                                <td>{{$ctrl.requestDetails.user.firstName}} {{$ctrl.requestDetails.user.lastName}}</td>
                                <td>{{$ctrl.requestDetails.user.address.zipCode}}</td>
                                <td>{{$ctrl.requestDetails.driver.firstName}} {{$ctrl.requestDetails.driver.lastName}}</td>
                            </tr>
                        </table>
                        <div class="inner-adjust">
                            <!-- <h3>Image</h3> -->
                            <h3>Item Info</h3>
                            <div class="image" style="float: left;">
                                <a href="" class="drive">Add Item Image</a>
                                <input ng-model="$ctrl.file1" type="file" name="item" base-sixty-four-input>
                            </div>
                            <div class="image" style="float: left;">
                                <a href="" class="drive">Add Bin Image</a>
                                <input ng-model="$ctrl.file2" type="file" name="bin" base-sixty-four-input>
                            </div>
                            <div class="image" style="float: left;">
                                <a href="" class="drive">Add Customer Signature Image</a>
                                <input ng-model="$ctrl.file3" type="file" name="sign" base-sixty-four-input>
                            </div>
                            <!-- <h3 style="clear: both;">Item Info</h3> -->
                            <form action="#" method="post">
                                <table class="table-responsive">
                                    <tbody>
                                        <tr>
                                            <td class="gap" for="productName">Product Name</td>
                                            <td class="gap2 gap3">
                                                <input type="text" name="productName" class="form-controls" ng-model="$ctrl.productName">
                                            </td>
                                            <td class="gap gap4" for="brandName">Brand Name</td>
                                            <td class="gap2">
                                                <input type="text" class="form-controls" ng-model="$ctrl.brandName">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="gap" for="condition">Condition</td>
                                            <td class="gap2 gap3">
                                                <input type="text" class="form-controls" ng-model="$ctrl.condition">
                                            </td>
                                            <td class="gap gap3">Eventual Damages</td>
                                            <td class="gap2">
                                                <input type="text" class="form-controls" ng-model="$ctrl.eventualDamages">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="gap">Sharable</td>
                                            <td class="gap2 gap3">
                                                <input type="text" class="form-controls" ng-model="$ctrl.sharable">
                                            </td>
                                            <td class="gap">Item Code</td>
                                            <td class="gap2 gap3">
                                                <input type="text" class="form-controls" ng-model="$ctrl.itemCode">
                                            </td>
                                        </tr>
                                        <!-- <tr ng-if="!$ctrl.isSubItem">
                                            <td>
                                                <button type="button" ng-click="$ctrl.addSubItem()" class="btn btn-sm btn-success">Add Sub Item</button>
                                            </td>
                                        </tr> -->
                                        <tr ng-if="$ctrl.isSubItem">
                                            <td class="gap">Sub Item Code</td>
                                            <td class="gap2 gap3">
                                                <input type="text" class="form-controls" ng-model="$ctrl.subItemCode">
                                            </td>
                                            <td class="gap">Sub Item Name</td>
                                            <td class="gap2 gap3">
                                                <input type="text" class="form-controls" ng-model="$ctrl.subItemName">
                                            </td>
                                        </tr>
                                        <tr ng-if="$ctrl.isSubItem">
                                            <td class="gap">Sub Item Description</td>
                                            <td class="gap2 gap3">
                                                <input type="text" class="form-controls" ng-model="$ctrl.description">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="btn-main">
                                        <button type="button" ng-click="$ctrl.cancel()" class="btn btn-sm btn-default">Cancel</button>
                                        <!-- <button style="padding: 8px 0px;" ng-if="!$ctrl.isSubItem" type="button" ng-click="$ctrl.addSubItem()" class="btn btn-sm btn-success">Add Sub Item</button> -->
                                        <button type="button" ng-click="$ctrl.save()" class="btn btn-sm btn-success">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>